@font-face {
  font-family: 'gg sans';
  src: url('fonts/ggsans.woff2') format('woff2'),
       url('fonts/ggsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    text-align: center;
    background-color: black;
    font-family: 'Sulphur Point', sans-serif;
}

h1 {
    color:white;
}

h2 {
    color: white;
}

.no-border-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

#SocialLinks {
  display: flex;
  justify-content: center;
  gap: 50px;
}